{% load static %}
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static '/CSS/common.css' %}">
<link rel="stylesheet" type="text/css" href="{% static '/CSS/categories.css' %}">

	</head>
<header>
<div id="topBar">
	<ul id="topBarList">
		<li id="dashboardItem"><a>Dashbard</a></li>
		<li id="supportItem"><a>Request IT Support</a></li>
	</ul>
	</div>	
	<div class="navbar">
		<a href="#" class="logo bold">WAFRAH</a>
		<div class="search">
			<form>
				<input type="text" placeholder="Search.." name="search" class="search-input">
				<button type="submit" class="search-button"></button>
			</form>
		</div>
		<div class="cart">
			<button class="cart-button"></button>
		</div>
	</div>
</header>
	<body>
		
	<table cellspacing="20" class="categories-table">
		<tr class="table-row"> 
			<td class="table-cell">
			<img src="{% static '/Media/images/toa-heftiba-FV3GConVSss-unsplash.jpg' %}">
			<div class="cell-prodcut-info">
			<h5 class="cell-category-name">Furniture</h5>
			</div>
		</td>
			<td class="table-cell">
			<img src="{% static '/Media/images/plastics.jpg' %}">
			<div class="cell-prodcut-info">
			<h5 class="cell-category-name">Plastics</h5>
			</div>
		</td>
			<td class="table-cell">
			<img src="{% static '/Media/images/wood.jpg' %}">
			<div class="cell-prodcut-info">
			<h5 class="cell-category-name">Wood</h5>
			</div>
		</td>
		</tr>
		<tr class="table-row"> 
			<td class="table-cell">
			<img src="{% static '/Media/images/toa-heftiba-FV3GConVSss-unsplash.jpg' %}">
			<div class="cell-prodcut-info">
			<h5 class="cell-category-name">Furniture</h5>
			</div>
		</td>
			<td class="table-cell">
			<img src="{% static '/Media/images/plastics.jpg' %}">
			<div class="cell-prodcut-info">
			<h5 class="cell-category-name">Plastics</h5>
			</div>
		</td>
			<td class="table-cell">
			<img src="{% static '/Media/images/wood.jpg' %}">
			<div class="cell-prodcut-info">
			<h5 class="cell-category-name">Wood</h5>
			</div>
		</td>
		</tr>
		<tr class="table-row"> 
			<td class="table-cell">
			<img src="{% static '/Media/images/toa-heftiba-FV3GConVSss-unsplash.jpg' %}">
			<div class="cell-prodcut-info">
			<h5 class="cell-category-name">Furniture</h5>
			</div>
		</td>
			<td class="table-cell">
			<img src="{% static '/Media/images/plastics.jpg' %}">
			<div class="cell-prodcut-info">
			<h5 class="cell-category-name">Plastics</h5>
			</div>
		</td>
			<td class="table-cell">
			<img src="{% static '/Media/images/wood.jpg' %}">
			<div class="cell-prodcut-info">
			<h5 class="cell-category-name">Wood</h5>
			</div>
		</td>
		</tr>
		<tr class="table-row"> 
			<td class="table-cell">
			<img src="{% static '/Media/images/toa-heftiba-FV3GConVSss-unsplash.jpg' %}">
			<div class="cell-prodcut-info">
			<h5 class="cell-category-name">Furniture</h5>
			</div>
		</td>
			<td class="table-cell">
			<img src="{% static '/Media/images/plastics.jpg' %}">
			<div class="cell-prodcut-info">
			<h5 class="cell-category-name">Plastics</h5>
			</div>
		</td>
			<td class="table-cell">
			<img src="{% static '/Media/images/wood.jpg' %}">
			<div class="cell-prodcut-info">
			<h5 class="cell-category-name">Wood</h5>
			</div>
		</td>
		</tr>
		</table>
	
	</body>
</html>