{% load static %}
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../static/CSS/common.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="../static/CSS/productView.css">

	</head>
<header>
<div id="topBar">
	<ul id="topBarList">
		<li id="dashboardItem"><a>Dashbard</a></li>
		<li id="supportItem"><a>Request IT Support</a></li>
	</ul>
	</div>	
	<div class="navbar">
		<a href="#" class="logo bold">WAFRAH</a>
		<div class="search">
			<form>
				<input type="text" placeholder="Search.." name="search" class="search-input">
				<button type="submit" class="search-button"></button>
			</form>
		</div>
		<div class="cart">
			<button class="cart-button"></button>
		</div>
	</div>
</header>
<body>
	<h5 id="currect-category">Current Category Name</h3>
	<div class="horizontal-line" id="divider"></div>	
<div id="side-menu">
<h4 class="bold">Categories</h2>
	<h5 id="sub-category"><a id="sub-category-a">Sub-Category 1</a></h5>
	<h5 id="sub-category"><a id="sub-category-a">Sub-Category 1</a></h5>
	<h5 id="sub-category"><a id="sub-category-a">Sub-Category 1</a></h5>
	
	<h4 class="bold brands-label">Brands</h4>
	
	<input type="checkbox">
	<label>Brand 1</label>
	<br>
	<input type="checkbox">
	<label>Brand 2</label>
	<br>
	<input type="checkbox">
	<label>Brand 3</label>
	
	<h4 class="bold">Price</h4>
	<input type="text" placeholder="0.00" id="price-from">
	<img id="price-arrow" src="../static/Media/icons/right_arrow.png">
	<input type="text" placeholder="0.00" id="price-to">	
</div>
	
<div id="main">
	
	<div id="filters-bar">
	<h6>Sort By: </h6>
		<select class="sorting-select">
			<option value="0" class="select-selected">Relevence</option>
			<option value="1">Price High</option>
			<option value="2">Price Low</option>
			<option value="3">Name A-Z</option>
			<option value="4">Name Z-A</option>
			<option value="5">Rating High</option>
			<option value="6">Rating Low</option>
		</select>
		
		<h6 id="showed-results">Showing 1-15 of 150 Results</h6>
	</div>
	<div id="content">
	<table cellspacing="20">
		<tr class="table-row"> 
		<td class="table-cell">
			<img src="../static/Media/images/tina-guina-obV_LM0KjxY-unsplash.jpg">
			<div class="cell-prodcut-info">
			<h5 class="cell-product-name">Product Name</h5>
			<h6 class="cell-product-price">100.00 SAR/Unit</h6>
			<div class="cell-product-rating-bar">
			<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star"></span>
				<span class="fa fa-star"></span>
				</div>
			</div>
		</td>
		<td class="table-cell">
			<img src="../static/Media/images/tina-guina-obV_LM0KjxY-unsplash.jpg">
			<div class="cell-prodcut-info">
			<h5 class="cell-product-name">Product Name</h5>
			<h6 class="cell-product-price">100.00 SAR/Unit</h6>
			<div class="cell-product-rating-bar">
			<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star"></span>
				<span class="fa fa-star"></span>
				</div>
			</div>
		</td>
		<td class="table-cell">
			<img src="../static/Media/images/tina-guina-obV_LM0KjxY-unsplash.jpg">
			<div class="cell-prodcut-info">
			<h5 class="cell-product-name">Product Name</h5>
			<h6 class="cell-product-price">100.00 SAR/Unit</h6>
			<div class="cell-product-rating-bar">
			<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star"></span>
				<span class="fa fa-star"></span>
				</div>
			</div>
		</td>
		</tr>
		
		<tr class="table-row"> 
		<td class="table-cell">
			<img src="../static/Media/images/tina-guina-obV_LM0KjxY-unsplash.jpg">
			<div class="cell-prodcut-info">
			<h5 class="cell-product-name">Product Name</h5>
			<h6 class="cell-product-price">100.00 SAR/Unit</h6>
			<div class="cell-product-rating-bar">
			<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star"></span>
				<span class="fa fa-star"></span>
				</div>
			</div>
		</td>
		<td class="table-cell">
			<img src="../static/Media/images/tina-guina-obV_LM0KjxY-unsplash.jpg">
			<div class="cell-prodcut-info">
			<h5 class="cell-product-name">Product Name</h5>
			<h6 class="cell-product-price">100.00 SAR/Unit</h6>
			<div class="cell-product-rating-bar">
			<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star"></span>
				<span class="fa fa-star"></span>
				</div>
			</div>
		</td>
		<td class="table-cell">
			<img src="../static/Media/images/tina-guina-obV_LM0KjxY-unsplash.jpg">
			<div class="cell-prodcut-info">
			<h5 class="cell-product-name">Product Name</h5>
			<h6 class="cell-product-price">100.00 SAR/Unit</h6>
			<div class="cell-product-rating-bar">
			<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star"></span>
				<span class="fa fa-star"></span>
				</div>
			</div>
		</td>
		</tr>
		
		<tr class="table-row"> 
		<td class="table-cell">
			<img src="../static/Media/images/tina-guina-obV_LM0KjxY-unsplash.jpg">
			<div class="cell-prodcut-info">
			<h5 class="cell-product-name">Product Name</h5>
			<h6 class="cell-product-price">100.00 SAR/Unit</h6>
			<div class="cell-product-rating-bar">
			<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star"></span>
				<span class="fa fa-star"></span>
				</div>
			</div>
		</td>
		<td class="table-cell">
			<img src="../static/Media/images/tina-guina-obV_LM0KjxY-unsplash.jpg">
			<div class="cell-prodcut-info">
			<h5 class="cell-product-name">Product Name</h5>
			<h6 class="cell-product-price">100.00 SAR/Unit</h6>
			<div class="cell-product-rating-bar">
			<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star"></span>
				<span class="fa fa-star"></span>
				</div>
			</div>
		</td>
		<td class="table-cell">
			<img src="../static/Media/images/tina-guina-obV_LM0KjxY-unsplash.jpg">
			<div class="cell-prodcut-info">
			<h5 class="cell-product-name">Product Name</h5>
			<h6 class="cell-product-price">100.00 SAR/Unit</h6>
			<div class="cell-product-rating-bar">
			<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star"></span>
				<span class="fa fa-star"></span>
				</div>
			</div>
		</td>
		</tr>
		
		<tr class="table-row"> 
		<td class="table-cell">
			<img src="../static/Media/images/tina-guina-obV_LM0KjxY-unsplash.jpg">
			<div class="cell-prodcut-info">
			<h5 class="cell-product-name">Product Name</h5>
			<h6 class="cell-product-price">100.00 SAR/Unit</h6>
			<div class="cell-product-rating-bar">
			<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star"></span>
				<span class="fa fa-star"></span>
				</div>
			</div>
		</td>
		<td class="table-cell">
			<img src="../static/Media/images/tina-guina-obV_LM0KjxY-unsplash.jpg">
			<div class="cell-prodcut-info">
			<h5 class="cell-product-name">Product Name</h5>
			<h6 class="cell-product-price">100.00 SAR/Unit</h6>
			<div class="cell-product-rating-bar">
			<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star"></span>
				<span class="fa fa-star"></span>
				</div>
			</div>
		</td>
		<td class="table-cell">
			<img src="../static/Media/images/tina-guina-obV_LM0KjxY-unsplash.jpg">
			<div class="cell-prodcut-info">
			<h5 class="cell-product-name">Product Name</h5>
			<h6 class="cell-product-price">100.00 SAR/Unit</h6>
			<div class="cell-product-rating-bar">
			<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star"></span>
				<span class="fa fa-star"></span>
				</div>
			</div>
		</td>
		</tr>
		
		<tr class="table-row"> 
		<td class="table-cell">
			<img src="../static/Media/images/tina-guina-obV_LM0KjxY-unsplash.jpg">
			<div class="cell-prodcut-info">
			<h5 class="cell-product-name">Product Name</h5>
			<h6 class="cell-product-price">100.00 SAR/Unit</h6>
			<div class="cell-product-rating-bar">
			<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star"></span>
				<span class="fa fa-star"></span>
				</div>
			</div>
		</td>
		<td class="table-cell">
			<img src="../static/Media/images/tina-guina-obV_LM0KjxY-unsplash.jpg">
			<div class="cell-prodcut-info">
			<h5 class="cell-product-name">Product Name</h5>
			<h6 class="cell-product-price">100.00 SAR/Unit</h6>
			<div class="cell-product-rating-bar">
			<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star"></span>
				<span class="fa fa-star"></span>
				</div>
			</div>
		</td>
		<td class="table-cell">
			<img src="../static/Media/images/tina-guina-obV_LM0KjxY-unsplash.jpg">
			<div class="cell-prodcut-info">
			<h5 class="cell-product-name">Product Name</h5>
			<h6 class="cell-product-price">100.00 SAR/Unit</h6>
			<div class="cell-product-rating-bar">
			<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star"></span>
				<span class="fa fa-star"></span>
				</div>
			</div>
		</td>
		</tr>
		</table>
	
	</div>
	</div>
</body>

</html>