{% load static %}
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static '/CSS/common.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{% static '/CSS/signup.css' %}">

	</head>
<header>
	<div class="navbar">
		<a href="/" class="logo bold">WAFRAH</a>
	</div>
</header>
	
	<body>
		<div id="signup-view">
    
        <h5 id="top-title">SIGN UP</h5>
        <form method="POST">

            {% csrf_token %}
            
            {% for field in form %}
                <p>
                {{ field.label_tag }}<br>
                {{ field }}
                {% if field.help_text %}
                    <p>{{ field.help_text }}</p>
                {% endif %}
                {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
                </p>
            {% endfor %}

        <button id="signup-button" type="submit"">Sign Up!</button>
        
        <p id="members-label" style="text-align: center">Alraedy a member?</p>
        
        <button id="signin-button" type="button" onclick="location.href='login'">SIGN IN</button>

        {% if 'company' in request.path %}
        <button id="signup-button" type="button" onclick="location.href='/supplier/signup'">Suppliers Area</button>
        {% else %}
        <button id="signup-button" type="button" onclick="location.href='/company/signup'">Company Area</button>
        {% endif %}  
        </form>
        
    </div>
	</body>